@model ManageNoticeProperty.ViewModel.AdminRaportViewModel
<div id="property-list" class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(x => x.Flats.First().City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Flats.First().Street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Flats.First().PostCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Flats.First().SellDate)
                    </th>
                    <th>
                        Sell user
                    </th>
                    <th>
                        Buy user
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Flats.First().Price)
                    </th>
                </tr>

            </thead>
            @foreach (var flat in Model.Flats)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => flat.City)
                    </td>
                    <td>
                        @Html.DisplayFor(x => flat.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(x => flat.PostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(x => flat.SellDate)
                    </td>
                    <td>
                        @Html.DisplayFor(x => flat.User.UserName)
                    </td>
                    <td>
                        @foreach (var order in flat.Order)
                        {
                            @Html.DisplayFor(x => order.BuyUser.UserName)<br/>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(x => flat.Price)
                    </td>
                </tr>

            }
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Razem:</td>
                    <td>@Model.TotalPrice</td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
