@model ManageNoticeProperty.ViewModel.FlatViewModel
<div class="row">
    
        @using (Html.BeginForm(Model.NameAction, "Property", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-group" }))
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <tr>
                    @if (!Model.isAddAction)
                    {
                        @Html.HiddenFor(model => model.Flat.FlatId)

                    }
                    <td>@Html.LabelFor(x => x.Flat.City)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.City)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.Street)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.Street)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.PostCode)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.PostCode)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.TypeFlatID)</td>
                    <td>
                        @Html.DropDownListFor(m => m.Flat.TypeFlatID, new SelectList(Model.TypeFlat, "TypeFlatID", "Name", Model.TypeFlat.First().TypeFlatID))
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.Area)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.Area, new { @class = "decimalFormat", @id= "deleteAreeDecimal" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.QuantityRoom)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.QuantityRoom)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.Condignation)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.Condignation)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.IsBalcon)</td>
                    <td>@Html.CheckBoxFor(x => x.Flat.IsBalcon)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.Description)</td>
                    <td>@Html.TextAreaFor(x => x.Flat.Description)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(x => x.Flat.Price)</td>
                    <td>@Html.TextBoxFor(x => x.Flat.Price, new { @class = "decimalFormat",@id= "deletePriceDecimal" })</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.PostedFile, "Zdjęcia")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.PostedFile, new { type = "file" })
                    </td>
                </tr>
            </table>


                @ViewBag.ErrorMessage
                @Html.ValidationSummary()
            <input type="submit" value="Dodaj" />
        }
</div>
