@model ManageNoticeProperty.ViewModel.AllPropertyViewModel
@using PagedList.Mvc;
<div id="load-all-property" class="row">
    @foreach (var property in Model.Flat)
    {
        <a href="@Url.Action("GetProperty", "Property", new { id = property.FlatId })">
            <div class="row all-property-list">
                <div class="col-lg-4 all-property-list-element">
                    <img src="data:image;base64,@Convert.ToBase64String(property.Album.FirstOrDefault().Photo)" class="img-responsive" />
                </div>
                <div class="col-lg-8">
                    <div class="row all-property-list-element-text">
                        <h2>@property.TypeFlat.Name, @property.City</h2>
                        @property.Area m<sup>2</sup>
                    </div>
                </div>
            </div>
        </a>
    }
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    <div class="text-center">
        @Html.PagedListPager(Model.Flat, page => Url.Action("Index",
    new
    {
        page,
        City = Model.City,
        PriceFrom = Model.PriceFrom,
        PriceTo = Model.PriceTo,
        IsBalcon = Model.IsBalcon,
        QuantityRoomTo = Model.QuantityRoomTo,
        QuantityRoomFrom = Model.QuantityRoomFrom,
        AreaFrom = Model.AreaFrom,
        AreaTo = Model.AreatTo,
        CondignationFrom = Model.CondignationFrom,
        CondignationTo = Model.CondignationTo
    }))
    </div>
</div>