@model  ManageNoticeProperty.ViewModel.GetPropertyOrderViewModel
@{
    ViewBag.Title = "GetProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container get-property">
    <div class="row get-product-title">
        <div class="col-sm-10  col-xs-12">
            <h2>@Model.Flat.TypeFlat.Name, @Model.Flat.Area m<span class="igorny">2</span>, @Model.Flat.City </h2>
        </div>
        <div class="col-sm-2 col-xs-12">
            <h2>@Model.Flat.Price zł</h2>
        </div>
    </div>
    <div class="row">
        <div class="get-product-img">
            <img src="data:image;base64,@Convert.ToBase64String(Model.Flat.Album.FirstOrDefault().Photo)" class="img-responsive" />
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 col-md-12">
            @Model.Flat.City
        </div>
        <div class="col-lg-4 col-md-12">
            @Model.Flat.Description
        </div>
    </div>

    <div class="row">
        @if (Model.IsOwnProperty == false && !Model.Flat.IsHidden && !Model.isBuyAfter)
        {
            <button id="myBtn" class="btn btn-default">Kup</button>
        }
    </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-header">
                <h3>Potwierdzenie zainteresowania mieszkaniem</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(x => x.Order.Description,"Wiadomość")
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            @Html.TextBoxFor(x => x.Order.Description)
                        </div>
                    </div>
                    <div class="row">
                        @Html.ValidationSummary()
                    </div>
                    <div class="row text-right">
                        <input type="submit" value="Zatwierdź" />
                    </div>

                }
            </div>
        </div>
    </div>

</div>




@section scripts{
<script src="~/Scripts/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnModalUp").click(function () {
                $("#blockModal").modal('show');
            })
        });

        $(function () {
            $('#blockModal').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                modal: true
            });

            $('.modal2').click(function () {
                $('#blockModal').load(this.href, function () {
                    $(this).dialog('open');
                });
                return false;
            });
        });
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}