@model ManageNoticeProperty.ViewModel.AllPropertyViewModel
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @using (Html.BeginForm())
    {
        <div class="row">
            <div>
                @Html.LabelFor(x => x.TypeFlatID, "Typ Nieruchomoście")
                @Html.DropDownListFor(x => x.TypeFlatID, new SelectList(Model.TypeFlat, "TypeFlatID", "Name", Model.TypeFlat.FirstOrDefault().TypeFlatID))
            </div>
            <div>
                @Html.LabelFor(x => x.City, "Miejscowosc")
                @Html.TextAreaFor(x => x.City)
            </div>
            <div>
                @Html.LabelFor(x => x.IsBalcon, "Z balkonem")
                @Html.CheckBoxFor(x => x.IsBalcon)
            </div>
            <div>
                <input type="submit" value="Szukaj" class="btn" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    @Html.LabelFor(x => x.PriceFrom, "Cena")
                    @Html.TextBoxFor(x => x.PriceFrom)
                </div>
                <div class="row">
                    @Html.TextBoxFor(x => x.PriceTo)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @Html.LabelFor(x => x.QuantityRoomFrom, "Liczba Pokoi")
                    @Html.TextBoxFor(x => x.QuantityRoomFrom)
                </div>
                <div class="row">
                    @Html.TextBoxFor(x => x.QuantityRoomTo)
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    @Html.LabelFor(x => x.AreaFrom, "Powierzchnia")
                    @Html.TextBoxFor(x => x.AreaFrom)
                </div>
                <div class="row">
                    @Html.TextBoxFor(x => x.AreatTo)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @Html.LabelFor(x => x.CondignationFrom, "Kondygnacja")
                    @Html.TextBoxFor(x => x.CondignationFrom)
                </div>
                <div class="row">
                    @Html.TextBoxFor(x => x.CondignationTo)
                </div>
            </div>
        </div>
    }
    <div>
        <div class="row"></div>
    </div>
    <div class="row">
        @foreach (var property in Model.Flat)
        {
            <a href="@Url.Action("GetProperty", "Property", new { id = property.FlatId })" >
                <div class="row all-property-list">
                    <div class="col-lg-4 all-property-list-element">
                        <img src="data:image;base64,@Convert.ToBase64String(property.Album.FirstOrDefault().Photo)" class="img-responsive" />
                    </div>
                    <div class="col-lg-8">
                        <h2>@property.TypeFlat.Name, @property.City</h2>
                        <div class="row all-property-list-element-text">
                            @property.Area m<span class="igorny">2</span>
                        </div>
                    </div>
                </div>
            </a>
        }

    </div>
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    Page @(Model.Flat.PageCount < Model.Flat.PageNumber ? 0 : Model.Flat.PageNumber) of @Model.Flat.PageCount

    @Html.PagedListPager(Model.Flat, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

@section scripts{


}
