@model Mvc.Easy.Cms.Edit.Models.Data.TextData
@Html.TextAreaFor(m => m.Text)
@if (Model.Attributes.Count > 0)
{
<div class="hidden">
@for (int i = 0; i < Model.Attributes.Count; i++)
{
<div class="ecmsRow">
@Html.LabelFor(m => m.Attributes[i].Value, Model.Attributes[i].Name)
@Html.HiddenFor(m => m.Attributes[i].Name)
@Html.TextBoxFor(m => m.Attributes[i].Value)
</div>
}
</div>    
<button type="button" data-ecms-icon="ui-icon-comment" onclick="ecms.showExtraProperties(this);">@Context.GetResourceText("Buttons_Properties", "Properties")</button>
}