@model ManageNoticeProperty.ViewModel.MessageInfoViewModel
@{
    ViewBag.Title = "MessageInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.GetText() </h2>
<div class="row">
    @if (@Model.IsSellOffer)
    {
        <div class="row">
            <div class="col-lg-8">
                Użytkownik @Model.Order.BuyUser.UserName zainteresował się twoją ofertą jego numer kontaktowy to: @Model.Order.BuyUser.PhoneNumber

            </div>

        </div>
        <div class="row">
            <div class="col-lg-8">
                Treść Wiadomości:<br />
                @Model.Order.Description
            </div>

        </div>

    }
    else
    {
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-8">
                    Zainteresowałes sie ofertą
                    <a href="@Url.Action("GetProperty","Property", new { id = Model.Order.Flat.FlatId})">
                        @Model.Order.Flat.City @Model.Order.Flat.Street
                    </a>"
                    użytkownika @Model.Order.Flat.User.UserName

                </div>

            </div>
            <div class="row">
                <div class="col-lg-8">
                    Treść Wiadomości:<br />
                    @Model.Order.Description
                </div>

            </div>
        </div>
    }

</div>


