@model Mvc.Easy.Cms.Edit.Models.AccountChangePassword

@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST" }))
{
    <div class="account">
    @Html.ValidationSummary()
    <div class="ecmsRow">
        <span class="ecmsTitle">@Html.LabelFor(m => m.OldPassword, Context.GetResourceText("Titles_Account_Old_Password", "Old password"))</span>
        @Html.PasswordFor(m => m.OldPassword)
    </div>
    <div class="ecmsRow">
        <span class="ecmsTitle">@Html.LabelFor(m => m.NewPassword, Context.GetResourceText("Titles_Account_New_Password", "New password"))</span>
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    <div class="ecmsRow">
        <span class="ecmsTitle">@Html.LabelFor(m => m.ConfirmNewPassword, Context.GetResourceText("Titles_Account_Confirm_Password", "Confirm password"))</span>
        @Html.PasswordFor(m => m.ConfirmNewPassword)
    </div>
    </div>
}
